a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --primary-titel-color: #212121;
  --primary-text-color: #757575;
  --logo-color: #000000;
  --primary-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --accent-color: #2196f3;
  --button-active-color: #188ce8;
  --header-border-color: #ececec;
  --card-border-color: #eeeeee;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.color-logo {
  color: var(--accent-color);
}

.nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
}

.nav-item,
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-titel-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-item,
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.main
.section-banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-background-color);
}

.banner-titel {
  display: block;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.banner-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
}

.banner-button:hover,
.banner-button:focus {
  background: var(--button-active-color);
}

.section-advantage
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
}

.advantage-item {
  width: calc((100% - 90px) / 4);
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-subtitel {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-titel-color);
}

.advantage-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-speciality {
  padding-top: 0;
}

.speciality-titel {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-titel-color);
}

.speciality-list {
  display: flex;
}

.speciality-item,
.speciality-item:not(:last-child) {
  margin-right: 30px;
}

.speciality-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-team {
  background-color: var(--secondary-background-color);
}

.team-titel {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-titel-color);
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-subtitel {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-titel-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-color);
}

.address,
.footer-list,
.footer-item,
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-llink-map {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.footer-llink-map:hover,
.footer-llink-map:focus {
  color: var(--accent-color);
}

.footer-llink-mail {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

.footer-llink-mail:hover,
.footer-llink-mail:focus {
  color: var(--accent-color);
}

.footer-llink-tel {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

.footer-llink-tel:hover,
.footer-llink-tel:focus {
  color: var(--accent-color);
}

/* style portfolio */

.main-portfolio {
  background-color: var(--primary-color);
}

.section-work,
.active {
  color: var(--accent-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--secondary-background-color);
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
  border: transparent;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  width: calc((100% - 60px) / 3);
}

.card-link,
.card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-desc {
  padding: 20px 24px;

  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.card-titel {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-titel-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
img{
  display: block;
    max-width: 100%;
    height: auto;
  }
